<div class="form-container">
    <h2>New Transaction</h2>
    <form [formGroup]="addTransactionForm" (ngSubmit)="addTransaction()">
        <div>
            <label for="transactionType">Transaction Type</label>
            <select formControlName="transactionType" id="transactionType">
                <option value="credit">Credit</option>
                <option value="debit">Debit</option>
            </select>
        </div>
        <div>
            <label for="amount">Amount</label>
            <input type="number" formControlName="amount" id="amount">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" formControlName="description" id="description">
        </div>
        <div class="button-container">
            <button type="submit" class="save-button">Save</button>
            <button type="button" (click)="cancel()" class="cancel-button">Cancel</button>
        </div>
    </form>
</div>
